<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/mdbootstrap@4.19.1/css/mdb.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/mdb-ui-kit@3.3.0/dist/js/mdb.min.js"></script>

        <title>My Webpage</title>
    </head>
    <body>

        <!--Navbar taken and modified from here https://mdbootstrap.com/docs/standard/navigation/navbar/examples-and-customization/-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid justify-content-left">
              <nav class="bg-dark" aria-label="breadcrumb">
                <ol class="breadcrumb bg-dark">
                  <li class="breadcrumb-item">
                    <a href="/">Home</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    <a>Profile</a>
                  </li>
                </ol>
              </nav>
            </div>
          </nav>

          {% if reviews %}
          <div class="container">
          <div class="row justify-content-center">
          <table class = "flex-grow-1">
              <thead>
                  <tr>
                      <th>Book Title</th>
                      <th>Book Author</th>
                      <th>Date</th>
                      <th>Review</th>
                      <th>Rating</th>
                  </tr>
              </thead>
              <tbody>
                  {% for review in reviews %}
                      <tr>
                          <td>{{review.title}}</td>
                          <td>{{review.author}}</td>
                          <td>{{review.review_date}}</td>
                          <td>{{review.description}}</td>
                          <td>
                            <div class = "star">
                            {% for star in range(review.score) %}
                              <span class="bi bi-star-fill"></span>
                            {% endfor %}
  
                            {% for star in range(5 - review.score) %}
                              <span class="bi bi-star"></span>
                            {% endfor %}
                            </div>
                          </td>
                      </tr>
                  {% endfor %}
              </tbody>
            </table>
            </div>
            </div>
          {% else %}
            <div class = "row justify-content-center" style="padding-top: 2vw;">
              <h class="reviewText">Make a review on a book to see them here.</h>
          </div>
          {% endif %}
    </body>
</html>